@import "tailwindcss";

dialog {
 display:block;
}
dialog:not(:target):not([open]) {
  display:none;
}
.fifty {
  background-color: var(--second-bg);
  @apply p-2 pt-0;
  fieldset {
    @apply p-3 text-center;
    border: 1px solid var(--border-primary);
  }
}
h2.movie-title {
  color: var(--font-primary);
  @apply text-center text-shadow-lg/30 pt-6 pb-4 text-5xl;
}
.screen-select-btn {
  background-color: #919398;
  :hover {}
  @apply font-bold py-2 px-4 rounded-full text-white m-8;
  display:inline-block;
}
.screening-info {
  max-width: 100%;
  @apply grid grid-cols-2 text-left;
}
.div {
  background-image: transparent;
  height: 20px;
  width: 100%;
}
.ticket-count {
  border-spacing: 2px;
  width: 80%;
  display:inline-block;
  tr {
    display:table-row;
  }
  .ticket-label {
    @apply w-60 text-left;
  }
  .ticket-number {
    input[type=number] {
      background-color: var(--input-bg);
      color: #000;
      width: 50px;
      border: 1.5px solid var(--border-primary);
      @apply text-center;
    }
    @apply w-25;
  }
  .ticket-price {
    width: 25%;
  }
}