@import "tailwindcss";

dialog {
  display: block;
}

dialog:not(:target):not([open]) {
  display: none;
}

.fifty {
  border-radius: 7px;
  background-color: var(--second-bg);
  @apply p-2 pt-0;
  fieldset {
    @apply p-3 text-center;
    border: 1px solid var(--border-primary);
  }
}

h2.movie-title {
  color: var(--font-primary);
  @apply text-center text-shadow-lg/30 pt-6 pb-4 text-5xl;
}

.screen-select-btn {
  background-color: #919398;
  border: 2px solid transparent;
  @apply font-bold py-2 px-4 rounded-full text-white my-8;
  display:inline-block;
}
.screen-select-btn:hover {
  background-color: var(--border-primary);
  color: var(--input-bg);
  border: 2px solid var(--font-primary);
}

.screening-info {
  max-width: 100%;
  @apply grid grid-cols-2 text-left;
}

.div {
  background-image: transparent;
  height: 20px;
  width: 100%;
}

.ticket-count {
  border-spacing: 2px;
  width: 80%;
  display:inline-block;
  tr {
    display:table-row;
  }
  .ticket-label {
    @apply w-60 text-left;
  }
  .ticket-number {
    input[type=number] {
      background-color: var(--input-bg);
      color: #000;
      width: 50px;
      border: 1.5px solid var(--border-primary);
      @apply text-center;
    }
    input[type=number]:hover {
      border: 1.5px solid var(--font-primary);
    }
    @apply w-25;
  }
  .ticket-price {
    width: 25%;
  }
}

.seating-arrangement {
  label {
    display: inline-block;
    line-height: 0;
    @apply m-0;
    svg {
      display: inline-block;
      @apply m-1;
    }
    input[type=checkbox] {
      position: relative;
      @apply p-0 w-0 h-0;
    }
    .vacant:hover{
      stroke:var(--font-primary);
      stroke-width: 3px;
      stroke-linejoin: round;
    }

  }

  .booked {
    fill: var(--booked-seat);
  }
  .vacant {
    fill: var(--vacant-seat);
  }
  .reserved {
    fill: var(--reserved-seat);
  }
  .screen {
    border-bottom: 3px solid var(--border-primary);
    @apply inline-block mb-3;
    width: 80%;
  }
}

.book-seats-btn {
  width: 85%;
  background: radial-gradient(circle, #5a2a7a 0%, #b527d81a 70%);
  color: var(--font-primary);
  @apply p-2 m-10;
  border-radius: 18px;
  cursor: pointer;
  font-size: 0.85rem;
  font-size: 20px;
  border: 2px solid var(--border-primary);
}

.book-seats-btn:hover {
  border: 2px solid var(--font-primary)
}