@import "tailwindcss";

.themes-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.themes-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-style: italic;
    @apply font-medium text-5xl text-(--font-primary) text-shadow-lg/30;

}

.themes-intro {
  background: #ffffff99;
  border-radius: 12px;
  padding: 1.5rem;
  margin: 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.themes-intro h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  font-weight: 450;
  color: #fdfff1;
  text-shadow: 3px 2.5px 10px black;
}

.themes-intro p {
  font-size: 1.2rem;
  font-style: italic;
}

.themes-grid {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.theme-card {
  background: #ffffff99;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 1.5rem;
  justify-content: center;
  color: var(--purpletext-h4);
}

.theme-name {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  text-shadow: 3px 2.5px 10px rgb(255, 255, 255);
  text-align: center;
  font-weight: medium;
}

.theme-description {
  font-size: 1.3rem;
  color: black;
  font-style: italic;
}

/* Mobile view */
@media (max-width: 768px) {

  .themes-intro {
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }

  .themes-grid {
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .theme-card {
    padding: 1rem;
    text-align: center;
  }

  .theme-name {
    font-size: 1.7rem;
  }

}