@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import "tailwindcss";


body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--body-bg, #4e023e);
  transition: background 0.5s ease;

  --genre-grad: linear-gradient(to bottom, rgba(102,1,87,0.55) 0%, rgba(78,2,62,1) 100%);
  //--genre-grad: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  --hero-url: url('/heroimages/movie_strip_v1.jpg');

}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
  
  background-image: var(--genre-grad), var(--hero-url);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover, cover;
  
  transition: background-image 0.8s ease-in-out;
}

body.genre-horror{
  /*Body*/
    --genre-grad: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 0%,rgba(22, 1, 1, 1) 100%);
    --hero-url: url('/heroimages/Horror_background.jpeg');
    --body-bg: rgba(22, 1, 1, 1);
    --second-bg: #959e9e;
    --search-bar: #783232;
    --landing-drop-btn: #b35151FF;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, rgba(121, 0, 0, 0.55) 40%,rgba(222, 38, 38, 0.19) 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #622f2f;
    --text-color-h: #b35151;
    --logo-color-h: #b35151;
    --nav-primary-color: #b35151;
    --base-color-h: #b35151;
  /*Footer*/
    --footer-base-background: rgba(0, 0, 0, 0.8) ;
}

body.genre-comedy{
  /*Body*/
    --genre-grad: linear-gradient(to bottom, rgba(255, 210, 0, 0.55) 0%,rgba(65, 77, 28, 1) 100%);
    --hero-url: url('/heroimages/Comedy_V2.jpg');
    --body-bg: rgba(65, 77, 28, 1);
    --second-bg: #e6e377;
    --search-bar: #a19c3b;
    --landing-drop-btn: #e6e377;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, rgba(111, 118, 117, 0.55) 0%,rgba(111, 118, 117, 0.19) 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #fffdc4;
    --text-color-h: #fdfff1;
    --logo-color-h: #fffdc4;
    --nav-primary-color: #fffdc4;
    --base-color-h: #fdfff1;
  /*Footer*/
    --footer-base-background: rgba(255, 210, 0, 0.8);
}

body.genre-family{
  /*Body*/
    --genre-grad: linear-gradient(to bottom, rgba(0, 124, 234, 0.55) 0%,rgba(184, 141, 22, 1) 100%);
    --hero-url: url('/heroimages/Family_V1.jpg');
    --body-bg: rgba(184, 141, 22, 1);
    --second-bg: #9ac1ed;
    --search-bar: #cc9706;
    --landing-drop-btn: #ffbb00FF;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, rgba(255, 187, 0, 0.70) 0%,rgba(255, 187, 0, 0.49) 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #ad7f00;
    --text-color-h: #ffbb00;
    --logo-color-h: #ffbb00;
    --nav-primary-color: #ffbb00;
    --base-color-h: #ffbb00;
  /*Footer*/
    --footer-base-background: rgba(184, 141, 22, 0.8);
}

body.genre-action{
  /*Body*/
    --genre-grad: linear-gradient(to bottom, rgba(128, 181, 231, 0.55) 0%,rgba(0, 0, 0, 1) 100%);
    --hero-url: url('/heroimages/Action_V1.jpg');
    --body-bg: rgba(0, 0, 0, 1);
    --second-bg: #66abcc;
    --search-bar: #bd7004;
    --landing-drop-btn:#e38500FF;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, rgba(227, 93, 0, 0.75) 60%,rgba(227, 133, 0, 0.45) 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #995a01;
    --text-color-h: #e38500;
    --logo-color-h: #e38500;
    --nav-primary-color: #e38500;
    --base-color-h: #e38500;
  /*Footer*/
    --footer-base-background: rgba(128, 181, 231, 0.8);

}

body.genre-romance{
  /*Body*/  
    --genre-grad: linear-gradient(to bottom, rgba(216, 186, 229, 0.55) 0%,rgba(184, 78, 198, 1) 99%);
    --hero-url: url('/heroimages/Romance_V1.jpg');
    --body-bg: rgba(184, 78, 198, 1);
    --second-bg: #c9b0d8;
    --search-bar: #5a2a7a;
    --landing-drop-btn:#ffffffFF;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, #5a2a7a 40%, #b527d81a 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #fffdc4;
    --text-color-h: #fdfff1;
    --logo-color-h: #fffdc4;
    --nav-primary-color: #fffdc4;
    --base-color-h: #fdfff1;
  /*Footer*/
    --footer-base-background: rgba(216, 186, 229, 0.8);

}

body.genre-classic{
  /*Body*/
    --genre-grad: linear-gradient(to bottom, rgba(45, 79, 43, 0.55) 0%,rgba(0, 0, 0, 1) 100%);
    --hero-url: url('/heroimages/Classic_V7.jpg');
    --body-bg: rgba(0, 0, 0, 1);
    --second-bg: #5c9c4b;
    --search-bar: #b5a476;
    --landing-drop-btn: #fff1ca;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, rgba(47, 71, 47, 0.55) 0%,rgba(255, 241, 202, 0.19) 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #ffb823;
    --text-color-h: #fff1ca;
    --logo-color-h: #fff1ca;
    --nav-primary-color: #fff1ca;
    --base-color-h: #fff1ca;
  /*Footer*/
    --footer-base-background: rgba(45, 79, 43, 0.8);

}

body.genre-blackandwhite{
  /*Body*/
    --genre-grad: linear-gradient(to bottom, rgba(63, 63, 63, 0.55) 0%,rgba(0, 0, 0, 1) 100%);
    --hero-url: url('/heroimages/BlackWhite_V1.jpg');
    --body-bg: rgba(0, 0, 0, 1);
    --second-bg: #959e9e;
    --search-bar: #959e9e;
    --landing-drop-btn: #d3dad9FF;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, rgba(71, 78, 77, 0.85) 20%,rgba(31, 38, 37, 0.09) 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #fffdc4;
    --text-color-h: #fdfff1;
    --logo-color-h: #fffdc4;
    --nav-primary-color: #fffdc4;
    --base-color-h: #fdfff1;
  /*Footer*/
    --footer-base-background: rgba(63, 63, 63, 0.8);

}

body.genre-holiday{
  /*Body*/
    --genre-grad: linear-gradient(to bottom, rgba(10, 77, 28, 0.55) 0%, rgba(139, 0, 0, 1) 100%);
    --hero-url: url('/heroimages/Christmas_V1.jpg');
    --body-bg: rgba(139, 0, 0, 1);
    --second-bg: #2a7d1f;
    --search-bar: #1c5414;
    --landing-drop-btn: #2a7d1f;
  /*Button*/
    --btn-grad-backcolor: radial-gradient(circle, rgba(10, 77, 28, 0.95) 20%,rgba(222, 0, 0, 0.19) 100%);
  /*Header:*/
    --background-h: #f4f4f474;
    --border-color-h: #fffdc4;
    --text-color-h: #fdfff1;
    --logo-color-h: #fffdc4;
    --nav-primary-color: #fffdc4;
    --base-color-h: #fdfff1;
  /*Footer*/
    --footer-base-background: rgba(10, 77, 28, 0.8);

}

header {
  width: 99%;
  margin: 10px auto;
  display: grid;
  color: var(--base-color-h);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border: 2px solid var(--border-color-h);
  border-radius: 25px;
  background-color: var(--background-h);
  box-shadow: 0.2px 0.2px 20px 0.05px rgba(255, 255, 255, 0.551);
  padding: 10px;

  h1{
    font-family: Pattaya;
    color: var(--text-color-h);
    margin: 0;
    text-align: center;
  }
}

/* Your logo wrapper */
.header-logo {
  display: inline-block;
  color: var(--logo-color-h);
  justify-self: start;
  padding: 20px 0px 10px 20px;
}

/* The actual SVG */
.header-logo svg {
  width: 120px;
  height: Auto;
  padding-left: 10px;
  padding-bottom: 10px;
}

.header-nav {
  padding-left: 0px;
  text-decoration: none;
  justify-self: end;

  a{
    padding: 10px 7px;
    color: var(--nav-primary-color);
    text-decoration: none;
    transition: all 0.2s;

    &:last-child{
      margin-right: 20px;
    }

    &:hover{
      background-color: rgba(255, 253, 196, 0.1);
      border-radius: 12px;
      color: rgba(65, 10, 77, 0.753);
    }
  }
  a.active {
  color: #660157;
  }

}
footer {
  display: none;
}


/*Mobile View*/
@media (max-width: 768px) {

  /*Header Mobile View*/

  header {
    width: 99%;
    margin: 2px auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px 0;

    .header-logo {
      display: none;
    }
    nav {
      display: none;
    }
  }

    /*Footer Mobile View*/
  footer {
    display: flex;
    width: 100%;
    background: var(--footer-base-background);
    border-radius: 12px 12px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
  }
  .footer-container {
    display: flex;
    width: 100%; 
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #fffdc4;
    border-radius: 12px 12px 0 0;
    background-color: var(--background-h); 
    box-shadow: 0.2px 0.2px 20px 0.05px rgba(255, 255, 255, 0.551);
  }

  .footer-btn {
    background: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }

  .footer-btn:hover {
    background-color: #ddd;
  }

  .footer-menu-wrapper {
    position: relative;
  }

  .footer-submenu {
    position: absolute;
    bottom: 60px;
    right: 0;

    display: flex;
    flex-direction: column;
    background: white;
    border: 2px solid #fffdc4;
    border-radius: 8px;
    padding: 10px;
    gap: 8px;
    min-width: 120px;
  }

  .submenu-link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #fffdc4;
    &:hover {
      color: #660157;
    }
  }

}