@import "tailwindcss";



:root {
  /*Primary colors*/
  --primary-bg: linear-gradient(to bottom, #660157, #4e023e);
  --dark-primary: #660157;
  --second-bg: #c9b0d8;
  --border-primary: #864486;
  --font-primary: #fffdc4;
  --log-heading-primary: #FFF562;
  --background-btn: #919398;
  --input-bg: #fff;
  --vacant-seat: #406ae8;
  --reserved-seat: #d5da4d;
  --booked-seat: #4e4851;

  /*search and filter*/
  --search-bar: rgba(65, 10, 77, 0.753);
  --landing-drop-menu: #f9f9f9;
  --landing-drop-btn: #c0b0d0;
  --drop-btn-hover: #ddd;

/*purple button*/
  --btn-grad-backcolor: radial-gradient(circle, #5a2a7a 40%, #b527d81a 100%);
  /*Background for input fields*/
  --input-grad-backcolor: radial-gradient(circle, #fffdc4 20%, #fffdc4 60%);

  --purpletext-h4: #550755;

  /*Header*/
  --background-h: #f4f4f474;
  --border-color-h: #fffdc4;
  --text-color-h: #fdfff1;
  --logo-color-h: #fffdc4;
  --nav-primary-color: #fffdc4;
  --base-color-h: #fdfff1;

  --footer-base-background: #660157;


  /*Horror Color Palette
  --horror-background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 0%,rgba(22, 1, 1, 1) 100%);
  */

  
  /*Comedy Color Palette
  --comedy-background: linear-gradient(to bottom, rgba(255, 210, 0, 1) 0%,rgba(65, 77, 28, 1) 100%);
  */
  
  
  /*Family Color Palette
  --family-background: linear-gradient(to bottom, rgba(0, 124, 234, 1) 0%,rgba(184, 141, 22, 1) 100%);  
  */
  
  
  /*Action Color Palette
  --action-background: linear-gradient(to bottom, rgba(128, 181, 231, 1) 0%,rgba(0, 0, 0, 1) 100%);
  */
  
  
  /*Romance Color Palette
  --romance-background: linear-gradient(to bottom, rgba(216, 186, 229, 1) 0%,rgba(184, 78, 198, 1) 99%);
  */
  
  
  /*Classic Color Palette
  --classic-background: linear-gradient(to bottom, rgba(45, 79, 43, 1) 0%,rgba(0, 0, 0, 1) 100%);
  */
  
  
  /*Black & White Color Palette
  --blackwhite-background: linear-gradient(to bottom, rgba(63, 63, 63, 1) 0%,rgba(0, 0, 0, 1) 100%);
  */


  /*holiday christmas
  --christmas-background: linear-gradient(to bottom, rgba(10, 77, 28, 1) 0%, rgba(139, 0, 0, 1) 100%);
  
  */


/*  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
*/
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}